.dropdown {
	width: 200px;
	height: 50px;
	background-color: aquamarine;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.dropdown ul {
	/* display: none; */
	position: absolute;
	padding: 0;
	margin: 0;
	top: 50px;
	width: 100%;
	background-color: white;
}

.dropdown:hover ul {
	display: block;
}

.dropdown ul li:hover {
	background-color: gray;
}

/* li::before {
	content: '';
	/* background-color: red;
	background-image: url(./cat.jpg);
	background-size: cover;
	width: 10px;
	height: 10px;
	display: inline-block;
} */

li::after {
	content: '+';
}

li::first-letter {
	color: red;
}

*::selection {
	background-color: black;
}