h1, p {
	color: red;
}

.box > p {
	font-weight: bold;
}

.box + p {
	text-decoration: underline;
}

.box ~ p {
	font-family: consolas;
}

p[title] {
	background-color: green;
}

.box > p ~ * {
	border: 5px solid black;
}

ul li {
	text-decoration: underline;
}

ul li:first-child {
	color: red;
}

ul li:last-child {
	color: green;
}

ul li:nth-child(3n + 2) {
	color: blue;
}