
.content {
	height: 200px;
	background-color: gainsboro;
	overflow: auto;
}

.box {
	width: 100px;
	height: 100px;
	border: 1px solid black;
}

.red {
	background-color: red;
	width: auto;
	height: auto;
	/* position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0; */
}

.green {
	/* background-color: green; */
	/* background-image: linear-gradient() */
	position: fixed;
	/* top: 50px;
	left: 20px; */
	bottom: 100px;
	right: 50px;
	z-index: 1;
}

.blue {
	background-color: blue;
	position: sticky;
	top: 20px;
	z-index: 2;
}

.img-container {
	margin-top: 200px;
	position: relative;
	height: 300px;
	width: 400px;
}

.cat {
	height: 100%;
    width: 100%;
    object-fit: cover;
}

.img-container p {
	font-size: 20px;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	position: absolute;
	/* top: 350px; */
	bottom: -45px;
	text-align: center;
	width: 400px;
	transition: 0.5s;
	/* opacity: 0; */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
	right: 0;
	transition: 0.5s;
    background-color: rgba(0,0,0,0.0);
	/* opacity: 0.5; */
	overflow: hidden;
}

.overlay:hover {
	background-color: rgba(0,0,0,0.7);
}

.overlay:hover p {
	/* opacity: 1; */
	bottom: 20px;
}