// #body {
//     .custom-nav {
//         background-color: magenta;
//     }
//     .custom-link {
//         color: black;
//     }
// }


// .images {
//     display: flex;
//     flex-wrap: wrap;

//     img {
//         width: 33.33%;
        
//         @media (max-width:500px)
//         {
//             width: 50%;
//         }
//     }
// }

