.container {
  width: 100%;
  height: 300px;
  background-color: whitesmoke;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: 50px (1fr)[3] 30%;
      grid-template: repeat(2, 1fr)/50px repeat(3, 1fr) 30%;
  gap: 5px 10px;
}

.box {
  border: 1px solid black;
  background-color: red;
  color: white;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.red {
  background-color: red;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: head;
}

.green {
  background-color: green;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: side;
}

.blue {
  background-color: blue;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: body;
}

.magenta {
  background-color: magenta;
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: foot;
}

.cyan {
  background-color: cyan;
}

body {
  margin: 0;
}

.container2 {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-rows: (1fr)[4];
  -ms-grid-columns: (1fr)[4];
      grid-template: repeat(4, 1fr)/repeat(4, 1fr);
      grid-template-areas: "head head head head"  "side body body body"  "side body body body"  "side foot foot foot";
}
/*# sourceMappingURL=style.css.map */