.container {
	width: 100%;
	height: 300px;
	background-color: whitesmoke;
	
	display: grid;
	// grid-template-columns: 50px repeat(3, 1fr) 30%;
	// grid-template-rows: repeat(2, 1fr);
	grid-template: repeat(2, 1fr) / 50px repeat(3, 1fr) 30%;
	// grid-template: repeat(2, 1fr) / repeat(5, 1fr);


	// column-gap: 20px;
	// row-gap: 10px;
	gap: 5px 10px;
	
	// justify-items: center;
	// align-items: center;

	// justify-content: center;
	// align-content: center;

	// grid-auto-rows: 75px;
	// grid-auto-columns: 75px;
	// grid-auto-flow: row;
}

.box {
	// height: 40px;
	// width: 40px;

	border: 1px solid black;
	background-color: red;
	color: white;
	font-size: 20px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.red {
	background-color: red;
	// grid-column-start: 3;
	// grid-column-end: 6;
	// grid-column: 3 / 6;
	grid-area: head;
}

.green {
	background-color: green;
	grid-area: side;
}

.blue {
	background-color: blue;
	// grid-column-start: 1;
	// grid-column-end: 3;
	// grid-row-start: 1;
	// grid-row-end: 2;
	// grid-column: 1 / 3;
	// grid-row: 1 / 3;
	grid-area: body;
}

.magenta {
	background-color: magenta;
	grid-area: foot;
}

.cyan {
	background-color: cyan;
}

body {
	margin: 0;
}

.container2 {
	display: grid;
	height: 100vh;

	grid-template: repeat(4, 1fr) / repeat(4, 1fr);
	grid-template-areas: 
		"head head head head" 
		"side body body body" 
		"side body body body" 
		"side foot foot foot";
}