@font-face {
	font-family: AvantGrade;
	src: url(./AvantGarde-Book.woff);
}

h1 {
	font-family: Poppins;
	font-size: 80px;
	font-weight: bolder;
}

body {
	background-color: black;
}

.button {
	border: 2px solid #E9204F;
	display: inline-block;
	padding: 0px 20px;
	position: relative;
	background-color: transparent;

	&:hover .fill {
		width: 100%;
	}

	.fill {
		position: absolute;
		background-color: #E9204F;
		left: 0;
		height: 100%;
		width: 0%;
		z-index: 1;
		transition: 1s;
		transition-timing-function: ease-in-out;
	}

	p {
		position: relative;
		font-family: AvantGrade;
		z-index: 2;
		color: white;
		font-weight: bold;
	}
}