$dark-gray: #2B3A42;
$gray: #3F5765;
$light-gray: #BDD4DE;
$white: #EFEFEF;
$orange: #FF530D;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	position: relative;
	padding-bottom: 100px;
}

.container {
	max-width: 1800px;
	margin: auto;
}

header {
	height: 200px;
	background-color: $gray;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: space-between;
	
	.logo {
		width: 100%;
		height: 70%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px;
		box-sizing: border-box;

		.menu-btn {
			display: none;
			height: 30px;
		}
	}

	nav {
		height: 30%;
		width: 100%;
		background-color: $dark-gray;

		ul {
			height: 100%;
			display: flex;
			list-style: none;
			padding: 0;
			margin: 0;
			align-items: center;
			color: $white;

			li {
				padding: 20px;
				box-sizing: border-box;
				font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

				&:hover {
					background-color: $orange;
				}
			}
		}
	}
}

main {
	// height: 600px;
	background-color: $gray;
	display: flex;
	min-height: calc(100vh - 100px - 200px);

	aside {
		width: 30%;
		height: 100%;
		background-color: $gray;
		min-height: calc(100vh - 100px - 200px);

		ul {
			padding: 20px;
			list-style: none;
			color: $white;
			font-size: 20px;
			font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

			li {
				padding: 5px 0;
			}
		}
	}

	section {
		width: 70%;
		height: 100%;
		background-color: $light-gray;
		padding: 50px 20px;
		min-height: calc(100vh - 100px - 200px);

		.gallery {
			width: 100%;
			display: grid;
			grid-template: 150px 150px / 1fr 1fr 1fr;
			gap: 10px;

			@media (max-width: 1100px) {
				grid-template: repeat(3, 150px) / 1fr 1fr;
			}
			
			@media (max-width: 950px) {
				grid-template: repeat(2, 150px) / 1fr 1fr 1fr;
			}
			
			@media (max-width: 700px) {
				grid-template: 150px 150px 150px / 1fr 1fr;
			}
			
			@media (max-width: 500px) {
				grid-template: repeat(6, 150px) / 1fr;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

footer {
	height: 100px;
	background-color: $dark-gray;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

@media (max-width: 950px) {
	header {
		height: auto;

		.logo .menu-btn {
			display: inline;
		}

		nav {

			ul {
				flex-direction: column;
				align-items: flex-start;

				li {
					width: 100%;
					// text-align: center;
				}
			}
		}
	}

	main {
		flex-direction: column;

		aside, section {
			width: 100%;
			height: 50%;
		}
	}
}