body {
	/* background-color: hsl(240, 100%, 50%); */
}

p {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;

	text-align: right;
	text-decoration: underline green;
	text-transform: capitalize;
	/* text-shadow: black 1px 1px; */
	/* font-style: italic; */
	
	line-height: 30px;
	/* letter-spacing: 5px;
	word-spacing: 100px; */
}

.green-text {
	color: #FF0000;
	font-size: 20px;
	/* background-color: rgba(0, 255, 0, 0.7); */

}

a {
	text-decoration: none;
}

.blue {
	color: blue;
}

/* 

color
background-color

font-size
font-family
font-style

text-align
text-decoration
text-transform
text-shadow

line-height
letter-spacing
word-spacing

*/