.box {
  width: 100px;
  height: 100px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  background-color: green;
  -webkit-transition-duration: 5s;
          transition-duration: 5s;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.box:hover {
  background-color: red;
  font-size: 100px;
  font-family: Consolas;
}

@-webkit-keyframes test-animation {
  0% {
    background-color: red;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  25% {
    background-color: blue;
    -webkit-transform: translate(300px, 0px);
            transform: translate(300px, 0px);
  }
  50% {
    background-color: green;
    -webkit-transform: translate(300px, 300px);
            transform: translate(300px, 300px);
  }
  75% {
    background-color: black;
    -webkit-transform: translate(0px, 300px);
            transform: translate(0px, 300px);
  }
  100% {
    background-color: white;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes test-animation {
  0% {
    background-color: red;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  25% {
    background-color: blue;
    -webkit-transform: translate(300px, 0px);
            transform: translate(300px, 0px);
  }
  50% {
    background-color: green;
    -webkit-transform: translate(300px, 300px);
            transform: translate(300px, 300px);
  }
  75% {
    background-color: black;
    -webkit-transform: translate(0px, 300px);
            transform: translate(0px, 300px);
  }
  100% {
    background-color: white;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.test {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  -webkit-animation-name: test-animation;
          animation-name: test-animation;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.test:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes slider {
  0% {
    background-image: url(./slider-bg-1.jpg);
  }
  33% {
    background-image: url(./slider-bg-2.jpg);
  }
  66% {
    background-image: url(./slider-bg-3.jpg);
  }
  100% {
    background-image: url(./slider-bg-1.jpg);
  }
}

@keyframes slider {
  0% {
    background-image: url(./slider-bg-1.jpg);
  }
  33% {
    background-image: url(./slider-bg-2.jpg);
  }
  66% {
    background-image: url(./slider-bg-3.jpg);
  }
  100% {
    background-image: url(./slider-bg-1.jpg);
  }
}

body {
  -webkit-animation: slider 3s infinite;
          animation: slider 3s infinite;
}
/*# sourceMappingURL=style.css.map */