.box {
	width: 100px;
	height: 100px;
	font-size: 16px;
	font-family: 'Times New Roman', Times, serif;
	background-color: green;
	// transition-delay: 3s;
	transition-duration: 5s;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

	&:hover {
		background-color: red;
		// transform: translateX(500px);
		font-size: 100px;
		font-family: Consolas;
	}
}

@keyframes test-animation {
	0% {
		background-color: red;
		transform: translate(0px, 0px);
	}
	
	25% {
		background-color: blue;
		transform: translate(300px, 0px);
	}
	
	50% {
		background-color: green;
		transform: translate(300px, 300px);
	}
	
	75% {
		background-color: black;
		transform: translate(0px, 300px);
	}
	
	100% {
		background-color: white;
		transform: translate(0px, 0px);
	}
}

.test {
	width: 100px;
	height: 100px;
	border: 2px solid black;

	animation-name: test-animation;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	
	&:hover {
		animation-play-state: paused;
	}
}

@keyframes slider {
	0% {
		background-image: url(./slider-bg-1.jpg);
	}

	33% {
		background-image: url(./slider-bg-2.jpg);
	}

	66% {
		background-image: url(./slider-bg-3.jpg);
	}

	100% {
		background-image: url(./slider-bg-1.jpg);
	}
}

body {
	animation: slider 3s infinite;
}