body {
  margin: 0;
  background-color: whitesmoke;
}

h1 {
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.box {
  border: 2px solid black;
}

.box p {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: green;
}

.box p:hover {
  color: #006700;
}

.color {
  width: 100px;
  height: 100px;
}

.color:nth-child(1) {
  background-color: #6e1f8b;
}

.color:nth-child(2) {
  background-color: #9c39c5;
}

.color:nth-child(3) {
  background-color: #ef870c;
}

.color:nth-child(4) {
  background-color: #f650de;
}

.color:nth-child(5) {
  background-color: #1e6f51;
}

.color:nth-child(6) {
  background-color: #32f730;
}

.color:nth-child(7) {
  background-color: #245810;
}

.color:nth-child(8) {
  background-color: #199ea3;
}
/*# sourceMappingURL=style.css.map */