@font-face {
	src: url(./fonts/Oswald-Light-webfont.woff);
	font-family: OswaldLight;
}

body {
	background-color: whitesmoke;
	background-image: url(./images/slider-bg-1.jpg);
	background-repeat: no-repeat;
	background-position-x: center;
	font-family: OswaldLight;
}

.container {
	width: 1000px;
	height: 1000px;
	margin: auto;
	/* background-color: white; */
	margin-top: 20px;
}

.menu {
	height: 74px;
	background-color: #414146;
	display: flex;
}

.logo-container {
	width: 40%;
	display: flex;
	align-items: center;
}

.logo-container img {
	width: 100px;
	margin-left: 30px;
}

.menu-items {
	width: 45%;
}

.menu-items ul {
	list-style: none;
	display: flex;
	color: white;
	align-items: center;
    height: 100%;
	margin: 0;
	padding: 0;
	justify-content: space-evenly;
}

.menu-items ul li {
	height: 100%;
	width: 20%;
    display: flex;
    align-items: center;
	justify-content: center;
	transition: 0.5s;
}

.menu-items ul li:hover {
	background-color: #ffea00;
	cursor: pointer;
}

.menu-items ul li a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.menu-items ul li:hover a {
	color: #414146;
}

.search {
	width: 15%;
	background-color: #565a60;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.search img {
	width: 15px;
	height: 15px;
}

.search-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	height: 100%;
	box-sizing: border-box;
}

.fa-search {
	color: white;
}

.search-btn:hover {
	background-color: #ffea00;
	cursor: pointer;
}

.search-btn:hover .fa-search {
	color: #414146;
}

.slider {
	display: flex;
	padding: 50px 0;
}

.slider-text {
	width: 60%;
    display: flex;
    flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.slider-text h1 {
	color: #414146;
	background-color: #ffea00;
	padding: 5px 10px;
	font-weight: normal;
}

.slider-text h2 {
	background-color: #565a60;
	color: white;
	padding: 5px 10px;
	font-weight: normal;
	font-size: 16px;
	text-transform: uppercase;
}

.slider-text .read-more-btn {
	background-color: #414146;
	color: white;
	display: flex;
	align-items: center;
}

.slider-text .read-more-btn p {
	margin: 0;
	padding: 5px 10px;
}

.slider-text .read-more-btn i {
	margin: 0;
	padding: 5px 10px;
	background-color: #ffea00;
	color: #414146;
	height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.slider-image {
	width: 40%;
}

.services {
	height: 252px;
	display: flex;
}

.service {
	width: 25%;
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
}

.service img {
	box-sizing: border-box;
	height: 70px;
	transition: 0.5s;
}

.service:nth-child(1) {
	background-color: white;
}

.service:nth-child(2) {
	background-color: hsl(55, 100%, 50%);
}

.service:nth-child(3) {
	background-color: hsl(55, 100%, 45%);
}

.service:nth-child(4) {
	background-color: hsl(55, 100%, 40%);
}

.service:hover {
	background-color: white;

}

.service:hover img {
	/* height: 90px;
	margin: -10px 0; */
	transform: scale(1.3);
}
