body {
	background-color: lightgray;
}

.container {
	width: 1000px;
	/* height: 500px; */
	background-color: white;
	margin: auto;
}

.header {
	background-color: aqua;
	height: 100px;

	display: flex;
	align-items: center;
}

.header h1 {
	width: 100%;
	text-align: center;
}

.logo {
	padding: 20px;
	height: 100px;
	width: 100px;
	box-sizing: border-box;
}

.menu {
	height: 50px;
	background-color: tomato;
	display: flex;
}

.menu ul {
	width: 100%;
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.menu a {
	text-decoration: none;
}

.wrapper {
	display: flex;
}

.sidebar {
	width: 20%;
	background-color: purple;
}

.main {
	width: 80%;
	background-color: pink;
}

.footer {
	height: 50px;
	background-color: green;
}