.container {
	height: 500px;
	background-color: lightgray;

	display: flex;
	align-content: flex-start;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
}

.box {
	width: 100px;
	height: 100px;
	background-color: red;
	border: 1px solid black;
	box-sizing: border-box;	
	font-size: 20px;
	color: white;
}