body {
	background-color: lightgray;
}

.container {
	width: 1000px;
	/* height: 500px; */
	background-color: white;
	margin: auto;
}

.header {
	height: 100px;
	background-color: aquamarine;
}

.logo {
	height: 100%;
	/* margin: 20px; */
	padding: 20px;
	box-sizing: border-box;
	float: left;
}

.header-text {
	text-align: center;
	line-height: 100px;
}

.menu {
	height: 50px;
	background-color: tomato;
}

.menu ul {
	margin: 0;
}

.menu ul li {
	display: inline;
	line-height: 50px;
	padding-right: 30px;
}

.sidebar {
	width: 20%;
	background-color: blueviolet;
	/* height: 200px; */
	/* float: left; */
	display: inline-block;
	margin-right: -4px;
}

.main {
	background-color: pink;
	/* height: 200px; */
	padding: 1px;
	width: 80%;
	display: inline-block;
	margin-right: -4px;
}

.footer {
	background-color: green;
	height: 100px;
}